/****** Customer List component dependencies ******/
:root {
  --off-white: #fafaf4;
  --blue: #212121;
}
.tableContainer {
  max-width: 1000px;
  max-height: 230px;
  margin: auto;
  background-color: var(--off-white) !important;
}
.cursor {
  cursor: pointer;
}
.dialog {
  height: 324px !important;
  width: 390px;
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  background-color: var(--off-white);
}
.dialogActions {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.popupSpan {
  font: Source Sans Pro;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  color: var(--blue);
  width: 20px;
}
.tableCell {
  background-color: var(--off-white) !important;
  text-align: center !important;
}
/****** Customer List component dependencies ******/