/****** Customer List component dependencies ******/
.tableContainer {
  max-width: 1000px;
  max-height: 230px;
  margin: auto;
  background-color: var(--off-white);
}
.cursor {
  cursor: pointer;
}
.popupSpan {
  font: var(--default-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  color: var(--blue);
  width: 20px;
}
.tableContainer .tableCell {
  background-color: var(--off-white);
  text-align: center;
}
.deleteCustomerPopup {
  width: 390px;
  background-color: var(--off-white) !important;
  min-height: 324px;
  text-align: center;
  min-width: 390px;
}
.typography {
  max-width: 150px;
  max-height: 10px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
}
.copyIcon {
  position: relative;
}
.typography .copyData {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialogPopup .dialogActions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 20px 16px;
}
.closeIcon {
  padding-left: 335px;
  padding-top: 19px;
  cursor: pointer;
  width: 36px;
}
.title {
  font: var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}
.dialogPopup .dialogActions .cancleButton {
  border: 1px solid var(--blue);
  border-radius: 10px;
  width: 100px;
  height: 44px;
}
.dialogPopup .dialogActions .submitButton {
  background-color: var(--blue);
  color: white;
  width: 100px;
  height: 44px;
  border-radius: 10px;
}
/****** Customer List component dependencies ******/
