.LoaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.BouncingLoader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.BouncingLoader > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.5;
    transform: translateY(-8px);
  }
  0% {
    background-color: #494848;
  }
  33% {
    background-color: #636363;
  }
  50% {
    background-color: #909090;
  }
  75% {
    background-color: #b4b4b4;
  }
  100% {
    background-color: #d4d4d4;
  }
}

.BouncingLoader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.BouncingLoader > div:nth-child(3) {
  animation-delay: 0.4s;
}
.BouncingLoader > div:nth-child(4) {
  animation-delay: 0.6s;
}
.BouncingLoader > div:nth-child(5) {
  animation-delay: 0.8s;
}
