/****** New customer component dependencies ******/
.line {
  border: 1px solid var(--orange);
  margin-top: 10px;
  margin-bottom: 6px;
}

.header {
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.text {
  font-size: 10px;
}

.contactType {
  font-size: 12px;
  margin-top: 25px;
}

.subHeader {
  font-size: 14px;
  font-weight: bold;
}

input {
  height: 29px;
  width: 100%;
  border-color: var(--black);
  border-radius: 4px;
}

label {
  font-size: 10px;
}

.saveButton {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
}

.addDeal label {
  cursor: pointer;
  margin-inline-start: 9px;
  font-weight: bold;
  font-size: 11px;
}

.addDeal {
  margin-top: 20px;
  justify-items: center;
  align-items: center;
  display: flex;
}

/****** New customer component dependencies ******/

/****** School Link Popup component dependencies ******/
.PopUpContent {
  margin: auto;
  align-items: center;
  direction: rtl;
  text-align: center;
}

.PopUpTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.popUpLinkAndPassword {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 16px;
  align-items: center;
}

/****** School Link Popup component dependencies ******/
