.dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dflex-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccessibilityContainer {
  gap: 1rem;
}

.AccessibilityContainer:nth-child(2) {
  font-size: var(--fs-15);
  font-weight: var(--fw-700);
}

.AppBarContainer .AdminAppBar {
  background-color: white;
  height: 50px;
}
