.VideoRecorderDialog .Video_Recorder_Container,
.VideoRecorderDialog .Video_Player_Container {
  background-color: rgba(0, 0, 0, 1);
  width: calc(100% - 0.5rem);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.VideoRecorderDialog .Video_Recorder,
.VideoRecorderDialog .Video_Player {
  display: block;
  max-width: 100%;
  width: 100%;
}

.VideoRecorderDialog .RecordVideoText {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #333333;
}

.VideoRecorderDialog .VideoFileDescription {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5rem;
  width: calc(100% - 2rem);
}
