:root {
  line-height: 1.5;
  font-weight: 400;
  --black: #0000003b;
  --orange: #ffc046;
  --font-style: normal;
  --fs-15: 15px;
  --fs-17: 17px;
  --fw-400: 400;
  --fw-700: 700;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  font-family: Roboto;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
