.inviteMembersPopup {
  width: 700px;
  background-color: var(--off-white) !important;
  min-height: 300px;
  text-align: center;
  min-width: 700px;
}

.titlePopupInviteMembers {
  font: var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 20px;
}

.inviteMembersPopup .submitInviteMembers {
  margin: auto;
  background-color: var(--blue);
  color: white;
  /* width: 100px; */
  border-radius: 10px;
}

.closeIconPopupInviteMembers {
  padding-left: 650px;
  padding-top: 19px;
  cursor: pointer;
  width: 36px;
}

.sentEmails {
  margin-bottom: 50px;
}

.inviteTeachersPopup {
  margin: auto;
  font-weight: 600;
  color: var(--blue);
}

.inviteTeachersExplanation {
  width: 580px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 400;
}
