.AudioPlayer_Container .Timeline_Container{
    color: #5BBBB7;
}
.AudioPlayer_Container .Timer_Container{
    color: #d48300;
    font-size: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 25.714px;
  display: flex;
  align-items: center;
}
.AudioPlayer_Container .AudioPlayer_Loading{
    color: #d48300;
}