  .AuthLayout {
    display: flex;
    flex-direction: row;
  }

  .SideNav {
    width: 424px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/auth_bg.png");
  }

  .SideNav .Title {
    width: 300px;
    font-size: 70px;
    line-height: 80px;
    font-family: Mansalva;
    color: white;
  }

  .Outlet {
    width: calc(100% - 484px);
  }
