.AuthLayout {
  display: flex;
  flex-direction: row;
}

.SideNav {
  width: 424px;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background-image: url("https://storage.googleapis.com/wizer-public-assets/images/auth_bg.png");
  text-align: center;
}

.SideNav .Title {
  width: 300px;
  font-size: 70px;
  line-height: 80px;
  font-family: Mansalva;
  color: white;
}

.Outlet {
  width: calc(100% - 424px);
  overflow: auto;
}
