/****** Quote Request List component dependencies ******/
:root {
  --off-white: #fafaf4;
  --blue: #212121;
  --orange: #fdad03;
}
.deleteLogo {
  cursor: pointer;
}
.dialog {
  height: 324px !important;
  width: 390px;
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  background-color: var(--off-white);
}
.dialogActions {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.popupSpan {
  font: Source Sans Pro;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  color: var(--blue);
  width: 20px;
}
.tableContainerQuotes {
  min-height: 80px;
  max-height: 180px;
  max-width: 1000px;
  margin: auto;
  border: 1px solid var(--orange);
  border-radius: 10px;
}
/****** Quote Request List component dependencies ******/