/****** Popup component dependencies ******/
:root {
  --yellowish-white: #fafaf4;
  --blue: #240046;
  --dark-gray: #212121;
}
.dialog {
  height: 324px !important;
  width: 390px;
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  background-color: var(--yellowish-white);
}
.dialogActions {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px 16px 20px 16px !important;
}
.closeIcon {
  padding-left: 335px;
  padding-top: 19px;
  cursor: pointer;
  width: 36px;
}
.title {
  font: Source Sans Pro;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray)
}
.cancleButton {
  border: 1px solid var(--blue) !important;
  border-radius: 10px !important;
  width: 100px !important;
  height: 44px !important;
}
.submitButton {
  background-color: var(--blue) !important;
  color: white !important;
  width: 100px !important;
  height: 44px !important;
  border-radius: 10px !important;
}
/****** Popup component dependencies ******/