/****** Popup component dependencies ******/
:root {
  --yellowish-white: #fafaf4;
  --blue: #240046;
  --dark-gray: #212121;
}
.dialog {
  height: 324px !important;
  width: 390px;
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  background-color: var(--yellowish-white);
}
.dialogPopup .dialogActions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 20px 16px;
}
.closeIcon {
  padding-left: 335px;
  padding-top: 19px;
  cursor: pointer;
  width: 36px;
}
.title {
  font: Source Sans Pro;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-gray);
}
.dialogPopup .dialogActions .cancleButton {
  border: 1px solid var(--blue);
  border-radius: 10px;
  width: 100px;
  height: 44px;
}
.dialogPopup .dialogActions .submitButton {
  background-color: var(--blue);
  color: white;
  width: 100px;
  height: 44px;
  border-radius: 10px;
}
/****** Popup component dependencies ******/
