.OpenQuestionWidget_Container .Question{
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #D48300;
}

.OpenQuestionWidget_Container .Instruction{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #333333;
}

.OpenQuestionWidget_Container .Divider {
    margin: 0;
    background-color: #D48300;
}

.OpenQuestionWidget_Container .Divider[data-saved] {
    margin: 0;
    background-color:#E6E7E8;
}


.OpenQuestionWidget_Container .Answer_Recorder, .StudentDashBoard_section .Voice {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #333333;
}

.OpenQuestionWidget_Container .AudioIcon_Container{
    width: 45px;
    aspect-ratio: 1;
    background: #5BBBB7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OpenQuestionWidget_Container .Button{
    text-transform: uppercase !important;
    font-family: 'Rubik' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 2px;
}

.OpenQuestionWidget_Container .Button[data-savedButton] {
    padding: 1.5px 20.25px 2.5px 20.75px;
    color: rgba(0, 0, 0, 0.38);
    background: rgba(0, 0, 0, 0.12);
}

.OpenQuestionWidget_Container .Button[data-handInWork] {
    display: flex;
    justify-content: space-between;
    width: 158.46px;
    height: 40px;
    background: #3F51B5;
    color: rgba(255, 255, 255, 0.87);
}

.OpenQuestionWidget_Container .Button[data-handInWork]:hover {
    background-color: rgb(57,73,171);
}