/****** Popper component dependencies ******/
:root {
  --light-gray: #d4d4d4;
}
.typography {
  max-width: 150px;
  max-height: 10px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
}
.copyIcon {
  position: relative;
}
.copyData {
  width: 80% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/****** Popper component dependencies ******/